body{
	font-family: 'Acme', sans-serif;
}

.header a{
	color: #000000;
	padding: 5px 0;
	border-bottom: 1px solid #ca2017;
}

.header a:hover{
	color: #ffffff;
	background: #ca2017;
	border-radius: 50%;
}

.navbar-toggler{
	border-color: #000000 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(202, 32, 23)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar li a{
	color: #ca2017 !important;
	font-weight: bold;
}

.navbar li a:hover{
	color: #ffffff !important;
	background: #ca2017;
	border-radius: 5px;
}

.si a{
	color: #000000;
	margin: 0 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ca2017;	
}

.footer-nav{
	padding-left: 0;
}

.row h6{
	color: #ca2017;
}

.fnav-link{
	list-style: none;
	border-top: 2px solid #E0E0E0;
	padding: 10px 0;
}

.fnav-link a{
	color: #ca2017;
}

.fsi a{
	color: #ca2017;
	font-size: 30px;
}

.fsi a:hover{
	opacity: 0.6;
}

.heading span{
	font-size: 80px;
}

.cont1, .content h4{
	font-family: 'Scheherazade New', serif;
}

.skills .b{
	border-top: 1px solid #ca2017;
}

@keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 1px 5px;
  border-radius: 15px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before{
  content:  attr(data-skill);
  background-color: #ca2017;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 4s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}

.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(85% - 10px);
}

.bar.learning1::before{
  width: calc(60% - 10px);
}

.bar.learning2::before{
  width: calc(95% - 10px);
}

.bar.learning3::before{
  width: calc(80% - 10px);
}

.bar.learning4::before{
  width: calc(75% - 10px);
}

.bar.learning5::before{
  width: calc(90% - 10px);
}

.bar.learning6::before{
  width: calc(60% - 10px);
}

.banner{
	background-image: url("abc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
	opacity: 0.9;
}






@media only screen and (max-width: 600px) {
	.header{
		display: none;
	}
	.heading span{
		font-size: 50px;
	}
	.banner{
		background-image: url("abc-md.jpg");
	}
	.skills h1{
		font-size: 30px;
	}
	.skills h4, .content h4{
		font-size: 20px;
	}
	.content h3{
		font-size: 30px;
	}
}

@media only screen and (min-width: 600px) {
	.si{
		display: none;
	}
	.heading span{
		font-size: 50px;
	}
}

@media only screen and (max-width: 300px) {
	.navbar-toggler-icon{
		width: calc(1em + 1vw);
	}
	.navbar-toggler{
		font-size: calc(0.5em + 1vw);
		padding: calc(0.5em + 1vw);
	}
}