body{
	font-family: 'Acme', sans-serif;
}

.header a{
	color: #000000;
	padding: 5px 0;
	border-bottom: 1px solid #ca2017;
}

.header a:hover{
	color: #ffffff;
	background: #ca2017;
	border-radius: 50%;
}

.navbar-toggler{
	border-color: #000000 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(202, 32, 23)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar li a{
	color: #ca2017 !important;
	font-weight: bold;
}

.navbar li a:hover{
	color: #ffffff !important;
	background: #ca2017;
	border-radius: 5px;
}

.si a{
	color: #000000;
	margin: 0 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ca2017;	
}

.footer-nav{
	padding-left: 0;
}

.row h6{
	color: #ca2017;
}

.fnav-link{
	list-style: none;
	border-top: 2px solid #E0E0E0;
	padding: 10px 0;
}

.fnav-link a{
	color: #ca2017;
}

.fsi a{
	color: #ca2017;
	font-size: 30px;
}

.fsi a:hover{
	opacity: 0.6;
}

.ctr-head{
	padding: 0 190px;
}


.background{
	background: linear-gradient(to bottom right, #ffffff 50%, #ca2017 50%);
}

.frm-crd{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.send{
	background: #ca2017!important;
	color: #ffffff!important;
	border-radius: 20px;
	padding: 5px 20px;
}

.send:hover{
	background: #ffffff!important;
	color: #ca2017!important;
	border: 2px solid #ca2017;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.sicard{
	border: 3px solid #ca2017;
}

.sicard:hover{
	top: -10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	opacity: .8;
}

.sicard a{
	text-align: center;
	color: #000000;
}




@media only screen and (max-width: 600px) {
	.header{
		display: none;
	}
	.heading span{
		font-size: 50px;
	}
	.ctr-head{
		padding: 0!important;
		font-size: 20px;
	}

	.sicard img{
		width: 25%!important;
	}
}

@media only screen and (min-width: 600px) {
	.si{
		display: none;
	}
	.heading span{
		font-size: 50px;
	}
}

@media only screen and (max-width: 300px) {
	.navbar-toggler-icon{
		width: calc(1em + 1vw);
	}
	.navbar-toggler{
		font-size: calc(0.5em + 1vw);
		padding: calc(0.5em + 1vw);
	}
}

@media only screen and (max-width: 970px) {
	.ctr-head{
		padding: 0 80px;
	}
}