body{
	font-family: 'Acme', sans-serif;
}

.header a{
	color: #000000;
	padding: 5px 0;
	border-bottom: 1px solid #ca2017;
}

.header a:hover{
	color: #ffffff;
	background: #ca2017;
	border-radius: 50%;
}

.navbar-toggler{
	border-color: #000000 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(202, 32, 23)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar li a{
	color: #ca2017 !important;
	font-weight: bold;
}

.navbar li a:hover{
	color: #ffffff !important;
	background: #ca2017;
	border-radius: 5px;
}

.si a{
	color: #000000;
	margin: 0 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ca2017;	
}

.banner{
	position: relative;
	color: #ffffff;
	background-color: #464646;
}

.left-heading{
	position: absolute;
	top: 40%;
	left: 5%;
	font-family: 'Kavoon', cursive;
}

.right-heading{
	position: absolute;
	top: 30%;
	right: 5%;
	text-align: right;
}

.right-heading p{
	font-family: 'Acme', sans-serif;
	font-weight: bold;
	font-size: 60px;
	font-style: italic;
	letter-spacing: 2px;
	line-height: 1em;
}

.right-heading img{
	width: 30px;
	margin: 0 3px;
}

.intro hr{
	border: 1px solid #ffffff;
}

.intro{
	background-image: linear-gradient(to bottom right, #ff0000, #9f1302, #1b173f);
}

.banner2{
	background-image: url("banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-color: #464646;
}

.content{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-wrapper{
	font-size: 40px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider{
	height: 60px;
	padding-left: 15px;
	overflow: hidden;
}

.slider div{
	color: #ca2017;
	height: 50px;
	margin-bottom: 50px;
	box-sizing: border-box;
}

.slider span{
	background: #ffffff;
	padding: 2px 10px;
}

.slider-text1{
	animation: slide 6s linear infinite;
}

@keyframes slide{
	0% {margin-top: -300px;}
	5% {margin-top: -200px;}
	33% {margin-top: -200px;}
	38% {margin-top: -100px;}
	66% {margin-top: -100px;}
	71% {margin-top: 0px;}
	100% {margin-top: 0px;}
}



.banner3{
	position: relative;
}

.banner3 img{
	opacity: 0.6;
}

.bn3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	text-shadow: 5px 5px 5px #ca2017;
}

.contact button{
	font-size: 30px;
	padding: 2px 20px;
	background: #ca2017;
	color: #ffffff;
	border: 3px solid #ffffff;
	border-radius: 30px;
}

.contact button:hover{
	background: #ffffff;
	color: #ca2017;
	border: 5px solid #ca2017;
}













@media only screen and (max-width: 600px) {
	.header{
		display: none;
	}
	.left-heading{
		font-size: calc(0.7rem + 1vw);
	}
	.right-heading p{
		font-size: calc(1rem + 1vw);
		margin-bottom: 0;
	}
	.right-heading img{
		width: calc(0.5rem + 1vw);
		margin: 0 1px;
	}
	.banner2 {
		background: url(banner-md.jpg);
		background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-position: center center;
	  background-size: cover;
	  background-color: #464646;
	}
	.content{
		height: 60vh;
		display: flex;
		align-items: center;
		justify-content: center;

		overflow: hidden;
	}
	.slider-wrapper{
		font-size: calc(1.5rem + 1vw);
		color: #ffffff;
		font-weight: bold;
		text-transform: uppercase;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.slider{
		height: 40px;
		padding-left: 0;
		overflow: hidden;
	}
	.bn3{
		font-size: calc(1.5rem + 1vw);
	}
	.contact button{
		font-size: calc(0.8rem + 1vw);
	}


}

@media only screen and (min-width: 600px) {
	.si{
		display: none;
	}
	.left-heading{
		font-size: calc(1.5rem + 1vw);
	}
	.right-heading p{
		font-size: calc(2.5rem + 1vw);
	}
	.right-heading img{
		width: calc(0.5rem + 1vw);
	}
}

@media only screen and (max-width: 300px) {
	.navbar-toggler-icon{
		width: calc(1em + 1vw);
	}
	.navbar-toggler{
		font-size: calc(0.5em + 1vw);
		padding: calc(0.5em + 1vw);
	}
	.slider{
		height: 50px;
	}
}
